*{margin: 0; padding: 0;}

nav{
  display: flex;
  align-items: center;
  height: 12vh;
  max-height: 12vh;
  background-color: transparent;
  transition: all 0.3s;
}

nav:hover{
  background-color: var(--black-opacity-25);
}

.brand{
  padding-left: 7vh;
}

.nav-menu{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 2em;
}

.nav-menu li{
  list-style: none;
  padding: 20px;
  padding-block: 28px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
}
.nav-menu li:hover{
  border-bottom: 2px solid var(--black-background-4);
}

.nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.nav-menu li:hover a{
  color: var(--white-text-color);
}

.nav-right-menu{
text-align: center;
background-color: var(--black-background-1);
height: 100%;
align-content: center;
transition: all 0.3s ease-out;
fill: var(--white-text-color);
}
.nav-right-menu:hover{
  background-color: var(--white-opacity-25);
  fill: var(--black-text-color);
}
