:root {
  /* l = light / d = dark */
  --primary-l-color:#cccccc ;
  --primary-d-color: ;

  --white-text-color:#fff ;
  --black-text-color: #000;

  --accent-l-color: ;
  --accent-d-color: ;


  /* ESCALA DE NEGROS */
  --black-background-1: #191919;
  --black-background-2: #333333;
  --black-background-3: #605f5f;
  --black-background-4: #999999;

  /* ESCALA DE BLANCOS */
  --white-background-1: #ffffff;
  --white-background-2: #cccccc;
  --white-background-3: #333333;
  --white-background-4: #000000;

  /* Escala con opacidades */
  --black-opacity-25: rgba(0, 0, 0, 0.25);
  --black-opacity-50: rgba(0, 0, 0, 0.5);
  --black-opacity-75: rgba(0, 0, 0, 0.75);
  --black-opacity-90: rgba(0, 0, 0, 0.9);

  --white-opacity-25: rgba(255, 255, 255, 0.25);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-75: rgba(255, 255, 255, 0.75);
  --white-opacity-90: rgba(255, 255, 255, 0.9);

  --title-text: 'Finder';
}

@font-face {
  font-family: 'Finder';
  src: url('./assets/fonts/Finder.otf');
}
