<div class="background-image-form">
  <form action="">
    <div>
      <h2 class="title-singup">SIGN UP</h2>
    </div>
    <div class="form-signup">
      <div class="input-mid-login">
        <input class="input-login"
          type="text"
          placeholder="Name">
        <label for="">Nombre</label>
      </div>
      <div class="input-mid-login">
        <label for="Surname">Apellidos</label>
        <input class="input-login"
          type="text"
          placeholder="Surname"
          name="Apellido">
      </div>
      <div class="input-full-login">
        <label for="">Correo</label>
        <input class="input-login"
          type="text"
          placeholder="Mail">
      </div>
      <div class="input-mid-login">
        <label for="">Numero</label>
        <input class="input-login"
          type="text"
          placeholder="Phone">
      </div>
      <div class="input-mid-login">
        <label for="">Edad</label>
        <input class="input-login"
          type="text"
          placeholder="Age">
      </div>
    </div>

    <button class="btn-done">
      DONE
    </button>
  </form>

</div>